# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.venv/
env/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VSCode
# ===============================
.vscode/
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# ===============================
# PyCharm
# ===============================
.idea/

# ===============================
# Database / cache
# ===============================
*.sqlite3
*.db

# ===============================
# Build / dist
# ===============================
build/
dist/
*.egg-info/
